@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'CultureCarnival';
  src: url('/fonts/CultureCarnival.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GrovericBold';
  src: url('/fonts/Groveric-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GrovericExtraBold';
  src: url('/fonts/Groveric-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GrovericExtraLight';
  src: url('/fonts/Groveric-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GrovericLight';
  src: url('/fonts/Groveric-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GrovericMedium';
  src: url('/fonts/Groveric-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GrovericRegular';
  src: url('/fonts/Groveric-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GrovericSemiBold';
  src: url('/fonts/Groveric-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GrovericThein';
  src: url('/fonts/Groveric--thein.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


